.add-training-form{
    display: flex;
    flex-direction: column;
    margin: 2em 20em;
    gap: 0.5;
    border: 1px solid black;
    border-radius: 30px;
    padding: 3em 10em 2em 10em;
    height: 100%;
}
.label-form{
    margin: 1em 0 0.1em 0.2em;
}
.form-title{
    align-self: center;
}
.submit-training-btn{
    background-color: white;
    border-radius: 20px;
    margin-top: 2em;
    width: 30%;
    height: 3em;
    align-self: center;
}
.input-add-training{
    height: 3em;
    border-radius: 10px;
    padding: 1em;
}
.input-add-exercise{
    width: 100%;
}
.add-exercise-btn{
    margin-top: 5%;
}
.add-exercise-btn:hover{
    cursor: pointer;
}
.exercise-item{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 15px;
    margin-top: 1em;
    border: 1px solid black;
    border-radius: 20px;
    padding: 0.5em 1em;
}
.delete-exercise-btn{
    margin-bottom: 5px;
}
.delete-exercise-btn:hover{
    cursor: pointer;
}
.exercises-list{
    margin-top: 1em;
    padding: 0;
}
.form-add-exercise{
    margin-top: 1.5em;
}
.input-exercise-details{
    width: 30%;
}
.input-exercise{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}